#Side_Nav{
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    min-width: 100%;
    align-items: center;
    padding: 10px;
    padding-right: 70px;
    padding-left: 50px;
     
}
@media screen and (min-width:50px)and (max-width:1000px){
    #Side_Nav{
     display: none;
    }
   
    
}
@media screen and (min-width:600px)and (max-width:1500px){
    
   
    #Side_Nav{
        display: none;
    }
    #Banner{
        margin-top: -400px;
    }
  }