#Side_Nav{
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    min-width: 100%;
    align-items: center;
     
}
@media screen and (min-width:350px)and (max-width:1000px){
    #Side_Nav{
        margin-bottom: 150px;
        flex-direction: column;
        min-width: 100%;
    }
   
    
}
@media screen and (min-width:600px)and (max-width:1500px){
    
   
    #Side_Nav{
        display: none;
    }
  }